@charset "utf-8";
h2{
    font-size: 30px;
    padding: 80px 0 10px 0;
    display: inline-block;
    position: relative;
}
section>h2:first-child{display: none;}
article>h3{
    display: none;
}
h2::after{
    content: "";
    width: 60%;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: -100%;
    bottom: 20%;
    
}
h2::before{
    content: "";
    width: 60%;
    height: 1px;
    background-color: #333;
    position: absolute;
    right: -100%;
    bottom: 20%;
}
.view_btn{
    display: inline-block;
    width: 160px;
    height: 36px;
    color: #FF6982;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #FF6982;
    transition: 0.2s;
    font-weight: bold;
    text-transform: uppercase;
}
.view_btn:hover{
    background-color: #FF6982;
    color:#fff;
}
/* 메인슬라이드 */
.main_slide{
    width: 100%;
    height: 700px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.main_slide img{
    height: 100%;
}
.m_slide{
    width: 100%;
    height: 700px;
    margin: auto;
    text-align: center;
}
.main_slide h2{
    display: none;
}
.m_slide_txt_l,.m_slide_txt_r{
    position: absolute;
}
.m_slide_txt_l span,
.m_slide_txt_r span{
    display: block;
    margin-bottom: 10px;
}
.m_slide_txt_l span:first-child ,
.m_slide_txt_r span:first-child{
    
    font-size: 35px;
}
.m_slide_txt_l span:last-child,
.m_slide_txt_r span:last-child{
    font-size: 20px;
}
.m_slide_txt_l{
    text-align: left;
    left: 300px;
    top: 40%;
}
.m_slide_txt_r{
    text-align: right;
    right: 300px;
    top: 40%;
}


.main_slide .swiper-button-next,
.main_slide .swiper-button-prev,
.main_slide .swiper-pagination{
    position: absolute;
}
.main_slide .swiper-button-next{
    padding-right: 30px;
}
.main_slide .swiper-button-prev{
    padding-left: 30px;
}
.main_slide .swiper-pagination{
    padding-bottom: 40px;
}
.main_slide .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #FF6982;
}
.main_slide .swiper-button-next::after,
.main_slide .swiper-button-prev::after{
    color: #333;
}

/* BEST/NEW */


.bestnew{
    width: 1420px;
    height: 700px;
    position: relative;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 120px;
}
.bestnew .swiper {
    width: 100%;
    height: 100%;
    }
    .bestnew .swiper>.swiper-wrapper{
    width: 100%;
    height: 100%;
    }

    .bestnew  .swiper-slide {
    height: 600px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .bestnew  .swiper-slide img {
    display: block;
    width: 100%;
    transform: scale(0.7);
    object-fit: cover;
    }
    .bestnew .swiper-backface-hidden .swiper-slide {
    transition: 0.3s;
    transform: none;
    }
    .bestnew .swiper_btn_box{
    margin: 0px auto;
    width: 1000px;
    position: relative;
}
    
.bestnew .swiper-slide-prev{
    filter: blur(2px);
    opacity: 0.6;
    transform: scale(0.7) !important;
    }
.bestnew .swiper-slide-next{
    filter: blur(2px);
    opacity: 0.6;
    transform: scale(0.7) !important;
    }
    
.bestnew .swiper-button-next::after,
.bestnew .swiper-button-prev::after{
        color: #333;
    }
.bestnew .text_box, .bestnew .btn_box{
    position: absolute;
    }
.bestnew .text_box{
    bottom: 70px;
    left: 0px;
}
.bestnew .btn_box{
    bottom: 0px;
    left: 0px;
}


/* 띠베너 */
.band_banner{
    width: 100%;
    height: 300px;
    margin: 0px 0px 30px 0px;
    margin: auto;
    background-image: url(../image/silky_stay.jpg);
    background-size: 100%;
    background-repeat:no-repeat ;
    background-position: center center;
    cursor: pointer;
}

/* 라이브러리 */

.library{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 80px;
}
.library video{
    padding-top: 30px;
    width: 100%;
}
.library .library_box{
    width: 1420px;
    height: 458px;
    margin:0px auto;
    text-align: center;
    padding-top: 70px;
}
.library .library_box>ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.library .library_box>ul li{
    width: 340px;
}
.library .library_box>ul li .img_box{
    width: 340px;
    height: 340px;
    margin-bottom: 30px;
    overflow: hidden;
}
.library .library_box>ul li img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    
}
.library .library_box>ul li img:hover{
    transform: scale(1.2);
}
.library .library_box>ul li .text_box{
    font-size: 18px;
    float: left;
}


/* 메이크업, 스킨, 프래그런스 공통서식 */
.makeup, .skin, .fragrance{
    overflow: hidden;
    position: relative !important;
    width: 100%;
    height: 560px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 40px;
}
.black{
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #333;
}
.black:hover{
    background-color: #333;
    color:#fff;
}
.white{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
}
.white:hover{
    background-color: #fff;
    color:#FF6982;
}


/* 메이크업 */
.makeup_box{
    margin: 0px auto;
    width: 1420px;
    height: 560px;
    position: relative;
    
}
.makeup_box .text_box{
    position: absolute;
    left: 0px;
    top: 230px;
    text-align: left;
}
.makeup_box .text_box span:first-child{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #FF6982;
    padding-bottom: 10px;
}
.makeup_box .text_box span:last-child{
    display: block;
    font-size: 18px;
}
.makeup_box .btn_box{
    position: absolute;
    left: 0px;
    top: 300px;
}
.makeup_slide{
    position: absolute !important;
    top: 0px;
    right: -200px;
    width: 1030px;
    height: 340px;
}
.makeup .swiper {
    width: 1030px;
    height: 100%;
  }

  .makeup .swiper-slide {
    transition: 0.3s;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .makeup .swiper-slide img {
    display: block;
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
 .makeup .swiper-button-prev{left: 760px;}
 .makeup .swiper-button-prev{right: 180px;}
    
.makeup .swiper-button-next::after,
.makeup .swiper-button-prev::after{
      color: #333;
}
.makeup .swiper-slide-active{
    filter: grayscale(1);
    opacity: 0.5;
    transform: scale(0.7);
}
.makeup .swiper-slide-next{
    filter: grayscale(1);
    opacity: 0.5;
    transform: scale(0.7);
}


/* 스킨 */
.skin{
    background-image:url(../image/skincaremain.jpg);
}
.skin_box{
    margin: 0px auto;
    width: 940px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: right; 
    align-items: center;
}
.skin_box .text_box{
    position: absolute;
    left: 0px;
    top: 230px;
    text-align: left;
}
.skin_box .text_box span:first-child{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}
.skin_box .text_box span:last-child{
    display: block;
    color: #fff;
    font-size: 18px;
}
.skin_box .btn_box{
    position: absolute;
    left: 0px;
    top: 300px;
}
.skin_box .delay-3{
    width: 360px;
    height: 360px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 4px rgba(39, 39, 39, 0.527);
}
.skin_box img{
    width: 360px;
    transition: 0.3s;
}
.skin_box img:hover{
    transform: scale(1.1);
}


/* 프래그런스 */
.fragrance_box{
    margin: 0px auto;
    width: 983px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left; 
    align-items: center;
}
.fragrance_box .text_box{
    position: absolute;
    right: 0px;
    top: 230px;
    text-align: right;
}
.fragrance_box .text_box span:first-child{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #FF6982;
    padding-bottom: 10px;
}
.fragrance_box .text_box span:last-child{
    display: block;
    color: #333;
    font-size: 18px;
}
.fragrance_box .btn_box{
    position: absolute;
    right: 0px;
    top: 300px;
}

.fragrance_box img{
    width: 356px;
    box-shadow: 4px 4px 10px 4px rgba(39, 39, 39, 0.527);
}

/* 헤라스토리 */
.story{
    width: 100%;
    height: 955px;
    margin: 0px auto;
    background-image: url(../image/brand4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.story .text_box{
    width: 950px;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0px;
    color: #fff;
    text-align: right;
}
.story .text_box span:first-child{
    display: block;
    font-size: 90px;
    line-height: 110px;
    font-weight: bold;
}
.story .text_box span:nth-child(2){
    display: block;
    font-size: 40px;
    padding-bottom: 10px;
}

.story .text_box span:last-child{
    display: block;
    font-size: 21px;
    line-height: 40px;
}
.story .btn_box{
    position: absolute;
    right: 50.5%;
    top: 80%;
}
.story .btn_box a:hover{
    color: #333;
}
/* 에이크루 */
.acrew{
    cursor: pointer;
    width: 100%;
    height: 835px;
    background-image: url(../image/acrew1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;
}
.acrew .text_box{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.acrew .text_box span:first-child{
    display: block;
    font-size: 70px;
    font-weight: bold;
} 
.acrew .text_box span:last-child{
    display: block;
    font-size: 120px;
    font-weight: bold;
} 
/* #hera */
.sns{
    width: 1140px;
    height: 710px;
    margin: 0px auto;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 120px;
}
.sns h2{
    color: #FF6982;
}
.sns p{
    margin-bottom: 30px;
}
.sns_layout{
    text-align: center;
    margin:0px auto;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 170px);
    grid-template-rows:repeat(3, 170px) ;
}

.sns1, .sns2, .sns3, .sns4, .sns5, .sns6, .sns7{
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.sns1 img, .sns2 img, .sns3 img, .sns4 img, .sns5 img, .sns6 img, .sns7 img{
    width: 100%;
    transition: 0.2s;
}
.sns1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.sns2{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.sns3{
    grid-column: 4 / 6;
    grid-row: 1/3;
}
.sns4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.sns5{
    grid-column: 1/3;
    grid-row: 3/4;
}
.sns6{
    grid-column: 3/4;
    grid-row: 3/4;
}
.sns7{
    grid-column: 4/6;
    grid-row: 3/4;
}
.sns .text_box{
    display: block;
    width: 100%;
    height: 61px;
    position: absolute;
    left: 0px;
    bottom: -100px;
    background-color: #222;
    color: #fff;
    transition: 0.2s;
}
.sns .text_box span:first-child{
    display: block;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
}
.sns .text_box span:last-child{
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}
.sns1:hover img, .sns2:hover img, .sns3:hover img, .sns4:hover img, .sns4:hover img, .sns5:hover img, .sns6:hover img, .sns7:hover img{
    transform: translateY(-20px);
}
.sns1:hover .text_box, .sns2:hover .text_box, .sns3:hover .text_box, .sns4:hover .text_box, .sns5:hover .text_box, .sns6:hover .text_box, .sns7:hover .text_box{
    bottom: 0px;
}


/* 스크롤 애니메이션 */
.back-to-position{
    opacity: 0;
    transition-duration: 1s;
}
.back-to-position.to-left{
    transform: translateX(200px);
}
.back-to-position.to-right{
    transform: translateX(-200px);
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-1 { transition-delay:.2s;}
.show .back-to-position.delay-2 { transition-delay:.5s;}
.show .back-to-position.delay-3 { transition-delay:.10s;}



.login{
    width: 100%;
    height: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.login_wrap{
    width: 380px;
    margin-top: 150px;
    /* background-color: #FF6982; */
    text-align: center;
}
.login_wrap ul{
    margin: 0px auto;
}

.login_wrap ul li:nth-child(1){
    font-size: 24px;
    padding-bottom: 55px;
    font-weight: bold;
}
.login_wrap input[type="text"],.login_wrap input[type="password"]{
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 10px;
}
.login_wrap ul li:nth-child(4){
    text-align: left;
    margin-bottom: 30px;
}
.login_box{
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 24px;
    cursor: pointer;
}
.login_wrap ul li:nth-child(6){
    padding-top: 10px;
    padding-bottom: 36px;
}
.login_wrap ul li:nth-child(6) span{
    cursor: pointer;
    font-size: 14px;
    padding: 0px 10px;
}
.login_wrap ul li:nth-child(7){
    margin-bottom: 40px;
}
.face{
    background-color: #405f9d;
    color: #fff;
}
.naver{
    background-color: #09c943;
    color: #fff;
}
.kakao{
    background-color: #fad91e;
    color: #333;
}